@model ProductVationInsertVm
@{
    Layout = "Admin/_AdminLayout";
    SelectList selectListItems01 = new SelectList(ViewBag.Products, "Id", "Name");
    SelectList selectListItems02 = new SelectList(ViewBag.Vartions, "Id", "Name");
}

<h2>Product Vartion</h2>
<div class="new">
    <div class="input-new">
        <a>New</a>
    </div>
</div>

<form asp-action="Insert" class="new-catigory-form">
    <div class="container">
        <div class="text">
            <label asp-for="VartionValue"></label>
            <input asp-for="VartionValue" value="" />
            <span asp-validation-for="VartionValue"></span>
        </div>

        <div class="text">
            <label asp-for="AddtionalPrice"></label>
            <input asp-for="AddtionalPrice" value=""></input>
            <span asp-validation-for="AddtionalPrice"></span>
        </div>
        <div class="text">
            <label asp-for="Quantity_In_Stock"></label>
            <input asp-for="Quantity_In_Stock" value=""></input>
            <span asp-validation-for="Quantity_In_Stock"></span>
        </div>
        <div class="text">
            <label asp-for="ProductID">Product</label>
            <select asp-for="ProductID" asp-items="selectListItems01" class="form-control">
                <option value="0">-- Select Product --</option>
            </select>
            <span asp-validation-for="ProductID" class="text-danger"></span>
        </div>
        <div class="text">
            <label asp-for="VartionID">Vartion</label>
            <select asp-for="VartionID" asp-items="selectListItems02" class="form-control">
                <option value="0">-- Select Vartion --</option>
            </select>
            <span asp-validation-for="VartionID" class="text-danger"></span>
        </div>
        <div class="submit">
            <input type="submit" />
            <div asp-validation-summary="All" style="color:red;"></div>
        </div>
    </div>

</form>

<div class="board">
    <table>
        <thead>
            <tr>
                <td>Value</td>
                <td>Product</td>
                <td>Quntity</td>
            </tr>
            </tr>
        </thead>
        <tbody>
            @foreach (ProductVationVm prd in ViewBag.ProductVarions)
            {
                <tr>
                    <td class="title">
                        <div class="text">
                            <h5>@(prd?.VartionValue ?? "Na")</h5>
                        </div>
                    </td>

                    <td class="role">
                        <p class="text">@(prd?.Product.Name ??"Na")</p>
                    </td>
                    <td class="role">
                        <p class="text">@(prd?.Quantity_In_Stock ?? 0)</p>
                    </td>
                    <td class="control">
                        <p class="text"><a class="edit" asp-action="Edit" asp-controller="ProductVartion" asp-route-id="@prd.Id">Edit</a></p>
                    </td>
                    <td class="control">
                        <p class="text">
                            <a class="delete" asp-action="Delete" asp-controller="ProductVartion" asp-route-id="@prd.Id"><i class="fa-solid fa-trash"></i></a>
                        </p>
                    </td>
                    <td class="control">
                        <p class="text"><a class="detail" asp-action="Details" asp-controller="ProductVartion" asp-route-id="@prd.Id">Details</a></p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section FlyForm {
    <div class="fly-form"></div>
}

@section Scripts {
    <script src="~/js/deletesweetalert.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/Admin/newbuttonopenform.js"></script>
    <script src="~/js/Admin/cascadedropdown.js">
    </script>

    <partial name="_ValidationScriptsPartial"></partial>
}

