@model VartionInsertVm
@{
    Layout = "Admin/_AdminLayout";
    SelectList selectListItems = new SelectList(ViewBag.Catigorys, "Id", "Name");
}

<h2>Vartion</h2>
<div class="new">
    <div class="input-new">
        <a>New</a>
    </div>
</div>

<form asp-action="Insert" class="new-catigory-form">
    <div class="container">
        <div class="text">
            <label asp-for="Name"></label>
            <input asp-for="Name" value="" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="text">
            <label asp-for="CatigoryId">Catigory</label>
            <select asp-for="CatigoryId" asp-items="selectListItems" class="form-control">
                <option value="0">-- Select Catigory --</option>
            </select>
            <span asp-validation-for="CatigoryId" class="text-danger"></span>
        </div>
        <div class="submit">
            <input type="submit" />
            <div asp-validation-summary="All" style="color:red;"></div>
        </div>
    </div>

</form>

<div class="board">
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Catigory</td>
            </tr>
            </tr>
        </thead>
        <tbody>
            @foreach (VartionWithVm vartionInsertVm in ViewBag.Vartions)
            {
                <tr>
                    <td class="title">
                        <div class="text">
                            <h5>@(vartionInsertVm?.Name ?? "Na")</h5>
                        </div>
                    </td>
                    <td class="role">
                        <p class="text">@(vartionInsertVm?.Catigory?.Name?? "Na")</p>
                    </td>
                    <td class="control">
                        <p class="text"><a class="edit" asp-action="Edit" asp-controller="Vartion" asp-route-id="@vartionInsertVm.Id">Edit</a></p>
                    </td>
                    <td class="control">
                        <p class="text">
                            <a class="delete" asp-action="Delete" asp-controller="Vartion" asp-route-id="@vartionInsertVm.Id"><i class="fa-solid fa-trash"></i></a>
                        </p>
                    </td>
                    <td class="control">
                        <p class="text"><a class="detail" asp-action="Details" asp-controller="Vartion" asp-route-id="@vartionInsertVm.Id">Details</a></p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section FlyForm {
    <div class="fly-form"></div>
}

@section Scripts {
    <script src="~/js/deletesweetalert.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/Admin/newbuttonopenform.js"></script>
    <partial name="_ValidationScriptsPartial"></partial>
}

